---
import Layout from '@/components/Layout.astro'
import SearchInterface from '@/components/SearchInterface'

const initialQuery = Astro.url.searchParams.get('q') ?? ''
---

<Layout title="検索 | kise.dev" activePage="search">
  <div class="container--narrow" data-pagefind-ignore>
    <SearchInterface client:load initialQuery={initialQuery} baseUrl={import.meta.env.BASE_URL} />
  </div>
</Layout>
